<div class = "container">
    <div class = "row">
        <div class = "col-sm-4">
            <h3>{{ site.data.About[0].name }}: </h3>
            <p>{{ site.data.About[0].about }}</p>
        </div>

        <div class = "col-sm-4">
            <h3>Skills:</h3>
            <ul>
                {% for temp in site.data.skill[0].skill %}
                <li>
                    {{temp}}
                </li>
                {% endfor %}
            </ul>
        </div>

        <div class = "col-sm-4">
            <h3>Experience:</h3>
            <p> {{site.data.experience[0].exp }}</p>
        </div>
    </div>
</div>